<div id="<%= dom_id study_detail %>">
  <p>
    <strong>Name:</strong>
    <%= study_detail.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= study_detail.year %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= study_detail.course_name %>
  </p>

</div>
