<h1>Editing study detail</h1>

<%= render "form", study_detail: @study_detail %>

<br>

<div>
  <%= link_to "Show this study detail", @study_detail %> |
  <%= link_to "Back to study details", study_details_path %>
</div>
