<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= course.year %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

</div>
